{{- if .Values.enabled }}
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: {{ include "grafana.crName" . }}
  namespace: {{ include "grafana.namespace" . }}
  labels:
    {{- include "grafana.metadataLabels" . | nindent 4 }}
  {{- with .Values.metadata.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- /* Version */}}
  {{- with .Values.version }}
  version: {{ . | quote }}
  {{- end }}

  {{- /* Instance Selector */}}
  {{- with .Values.instanceSelector }}
  instanceSelector:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- /* Config (grafana.ini) */}}
  {{- $config := include "grafana.config" . }}
  {{- if $config }}
  config:
    {{- $config | nindent 4 }}
  {{- end }}

  {{- /* Boolean flags */}}
  {{- if .Values.disableDefaultAdminSecret }}
  disableDefaultAdminSecret: {{ .Values.disableDefaultAdminSecret }}
  {{- end }}

  {{- with .Values.disableDefaultSecurityContext }}
  disableDefaultSecurityContext: {{ . | quote }}
  {{- end }}

  {{- if .Values.suspend }}
  suspend: {{ .Values.suspend }}
  {{- end }}

  {{- /* Preferences */}}
  {{- with .Values.preferences }}
  {{- if . }}
  preferences:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}

  {{- /* Jsonnet */}}
  {{- with .Values.jsonnet }}
  {{- if . }}
  jsonnet:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}

  {{- /* Client */}}
  {{- with .Values.client }}
  {{- if . }}
  client:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}

  {{- /* External Grafana */}}
  {{- if .Values.external.enabled }}
  external:
    url: {{ .Values.external.url | quote }}
    {{- with .Values.external.apiKey }}
    {{- if .name }}
    apiKey:
      name: {{ .name }}
      key: {{ .key | default "api-key" }}
    {{- end }}
    {{- end }}
    {{- with .Values.external.adminUser }}
    {{- if .name }}
    adminUser:
      name: {{ .name }}
      key: {{ .key | default "username" }}
    {{- end }}
    {{- end }}
    {{- with .Values.external.adminPassword }}
    {{- if .name }}
    adminPassword:
      name: {{ .name }}
      key: {{ .key | default "password" }}
    {{- end }}
    {{- end }}
    {{- with .Values.external.tls }}
    {{- if . }}
    tls:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- end }}
  {{- end }}

  {{- /* Deployment - only if not external */}}
  {{- if not .Values.external.enabled }}
  deployment:
    {{- with .Values.deployment.metadata }}
    {{- if or .labels .annotations }}
    metadata:
      {{- with .labels }}
      labels:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- end }}
    spec:
      {{- with .Values.deployment.spec.replicas }}
      replicas: {{ . }}
      {{- end }}
      {{- with .Values.deployment.spec.strategy }}
      strategy:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      template:
        {{- with .Values.deployment.spec.template.metadata }}
        {{- if or .labels .annotations }}
        metadata:
          {{- with .labels }}
          labels:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .annotations }}
          annotations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        {{- end }}
        {{- end }}
        spec:
          {{- with .Values.deployment.spec.template.spec.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.deployment.spec.template.spec.nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.deployment.spec.template.spec.tolerations }}
          tolerations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.deployment.spec.template.spec.affinity }}
          affinity:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.deployment.spec.template.spec.volumes }}
          volumes:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.deployment.spec.template.spec.initContainers }}
          initContainers:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          containers:
            {{- range .Values.deployment.spec.template.spec.containers }}
            - name: {{ .name }}
              {{- with .securityContext }}
              securityContext:
                {{- toYaml . | nindent 16 }}
              {{- end }}
              {{- with .resources }}
              resources:
                {{- toYaml . | nindent 16 }}
              {{- end }}
              {{- with .env }}
              env:
                {{- toYaml . | nindent 16 }}
              {{- end }}
              {{- with .volumeMounts }}
              volumeMounts:
                {{- toYaml . | nindent 16 }}
              {{- end }}
            {{- end }}
  {{- end }}

  {{- /* Service - only if not external */}}
  {{- if not .Values.external.enabled }}
  service:
    {{- with .Values.service.metadata }}
    {{- if or .labels .annotations }}
    metadata:
      {{- with .labels }}
      labels:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- end }}
    spec:
      {{- toYaml .Values.service.spec | nindent 6 }}
  {{- end }}

  {{- /* Ingress */}}
  {{- if .Values.ingress.enabled }}
  ingress:
    {{- with .Values.ingress.metadata }}
    {{- if or .labels .annotations }}
    metadata:
      {{- with .labels }}
      labels:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- end }}
    spec:
      {{- with .Values.ingress.spec.ingressClassName }}
      ingressClassName: {{ . }}
      {{- end }}
      {{- with .Values.ingress.spec.rules }}
      rules:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.ingress.spec.tls }}
      tls:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.ingress.spec.defaultBackend }}
      defaultBackend:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- end }}

  {{- /* PersistentVolumeClaim - only if not external */}}
  {{- if and .Values.persistentVolumeClaim.enabled (not .Values.external.enabled) }}
  persistentVolumeClaim:
    {{- with .Values.persistentVolumeClaim.metadata }}
    {{- if or .labels .annotations }}
    metadata:
      {{- with .labels }}
      labels:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- end }}
    spec:
      {{- toYaml .Values.persistentVolumeClaim.spec | nindent 6 }}
  {{- end }}

  {{- /* ServiceAccount - only if not external */}}
  {{- if and .Values.serviceAccount.enabled (not .Values.external.enabled) }}
  serviceAccount:
    metadata:
      name: {{ include "grafana.serviceAccountName" . }}
      {{- with .Values.serviceAccount.metadata.labels }}
      labels:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.serviceAccount.metadata.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.serviceAccount.imagePullSecrets }}
    imagePullSecrets:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- if .Values.serviceAccount.automountServiceAccountToken }}
    automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
    {{- end }}
  {{- end }}

  {{- /* Route (OpenShift) */}}
  {{- if .Values.route.enabled }}
  route:
    {{- with .Values.route.metadata }}
    {{- if or .labels .annotations }}
    metadata:
      {{- with .labels }}
      labels:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- end }}
    {{- with .Values.route.spec }}
    spec:
      {{- toYaml . | nindent 6 }}
    {{- end }}
  {{- end }}

  {{- /* HTTPRoute (Gateway API) */}}
  {{- if .Values.httpRoute.enabled }}
  httpRoute:
    {{- with .Values.httpRoute.metadata }}
    {{- if or .labels .annotations }}
    metadata:
      {{- with .labels }}
      labels:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- end }}
    {{- with .Values.httpRoute.spec }}
    spec:
      {{- toYaml . | nindent 6 }}
    {{- end }}
  {{- end }}
{{- end }}
