{{- if .Values.enabled }}
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: {{ include "grafana.crName" . }}
  namespace: {{ include "grafana.namespace" . }}
  labels:
    {{- include "grafana.metadataLabels" . | nindent 4 }}
  {{- with .Values.metadata.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- /* Version */}}
  {{- with .Values.version }}
  version: {{ . | quote }}
  {{- end }}

  {{- /* Instance Selector */}}
  {{- with .Values.instanceSelector }}
  instanceSelector:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- /* Config (grafana.ini) */}}
  {{- $config := include "grafana.config" . }}
  {{- if $config }}
  config:
    {{- $config | nindent 4 }}
  {{- end }}

  {{- /* Boolean flags */}}
  {{- if .Values.disableDefaultAdminSecret }}
  disableDefaultAdminSecret: {{ .Values.disableDefaultAdminSecret }}
  {{- end }}

  {{- with .Values.disableDefaultSecurityContext }}
  disableDefaultSecurityContext: {{ . | quote }}
  {{- end }}

  {{- if .Values.suspend }}
  suspend: {{ .Values.suspend }}
  {{- end }}

  {{- /* Preferences */}}
  {{- with .Values.preferences }}
  {{- if . }}
  preferences:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}

  {{- /* Jsonnet */}}
  {{- with .Values.jsonnet }}
  {{- if . }}
  jsonnet:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}

  {{- /* Client */}}
  {{- with .Values.client }}
  {{- if . }}
  client:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}

  {{- /* External Grafana */}}
  {{- if .Values.external.enabled }}
  external:
    url: {{ .Values.external.url | quote }}
    {{- with .Values.external.apiKey }}
    {{- if .name }}
    apiKey:
      name: {{ .name }}
      key: {{ .key | default "api-key" }}
    {{- end }}
    {{- end }}
    {{- with .Values.external.adminUser }}
    {{- if .name }}
    adminUser:
      name: {{ .name }}
      key: {{ .key | default "username" }}
    {{- end }}
    {{- end }}
    {{- with .Values.external.adminPassword }}
    {{- if .name }}
    adminPassword:
      name: {{ .name }}
      key: {{ .key | default "password" }}
    {{- end }}
    {{- end }}
    {{- with .Values.external.tls }}
    {{- if . }}
    tls:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- end }}
  {{- end }}

  {{- /* Deployment - only if not external */}}
  {{- if not .Values.external.enabled }}
  {{- include "grafana.deployment" . | nindent 2 }}
  {{- end }}

  {{- /* Service - only if not external */}}
  {{- if not .Values.external.enabled }}
  {{- include "grafana.service" . | nindent 2 }}
  {{- end }}

  {{- /* Ingress */}}
  {{- if .Values.ingress.enabled }}
  {{- include "grafana.ingress" . | nindent 2 }}
  {{- end }}

  {{- /* PersistentVolumeClaim - only if not external */}}
  {{- if and .Values.persistentVolumeClaim.enabled (not .Values.external.enabled) }}
  {{- include "grafana.pvc" . | nindent 2 }}
  {{- end }}

  {{- /* ServiceAccount - only if not external */}}
  {{- if and .Values.serviceAccount.enabled (not .Values.external.enabled) }}
  {{- include "grafana.serviceAccount" . | nindent 2 }}
  {{- end }}

  {{- /* Route (OpenShift) */}}
  {{- if .Values.route.enabled }}
  {{- include "grafana.route" . | nindent 2 }}
  {{- end }}

  {{- /* HTTPRoute (Gateway API) */}}
  {{- if .Values.httpRoute.enabled }}
  {{- include "grafana.httpRoute" . | nindent 2 }}
  {{- end }}
{{- end }}
