{{- if and .Values.enabled .Values.crossplane.provider.enabled }}
apiVersion: provider.authentik.crossplane.io/v1alpha1
kind: ProxyProvider
metadata:
  name: {{ .Values.crossplane.provider.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: {{ .Values.crossplane.provider.name }}
spec:
  forProvider:
    name: {{ .Values.crossplane.provider.name }}
    authorizationFlowSelector:
      matchLabels:
        authentik.io/slug: {{ .Values.crossplane.provider.authorizationFlow }}
    externalHost: {{ .Values.crossplane.provider.externalHost }}
    mode: {{ .Values.crossplane.provider.mode }}
    {{- if .Values.crossplane.provider.accessTokenValidity }}
    accessTokenValidity: {{ .Values.crossplane.provider.accessTokenValidity | quote }}
    {{- end }}
    {{- if .Values.crossplane.provider.skipPathRegex }}
    skipPathRegex: {{ .Values.crossplane.provider.skipPathRegex | quote }}
    {{- end }}
  providerConfigRef:
    name: {{ .Values.crossplane.providerConfigRef }}
{{- end }}
