{{- if and .Values.enabled .Values.crossplane.outpost.enabled }}
apiVersion: outpost.authentik.crossplane.io/v1alpha1
kind: Outpost
metadata:
  name: {{ .Values.crossplane.outpost.name }}
  namespace: {{ .Values.namespace }}
spec:
  forProvider:
    name: {{ .Values.crossplane.outpost.name }}
    type: {{ .Values.crossplane.outpost.type }}
    {{- if .Values.crossplane.outpost.serviceConnection }}
    serviceConnectionSelector:
      matchLabels:
        authentik.io/name: {{ .Values.crossplane.outpost.serviceConnection }}
    {{- end }}
    protocolProvidersSelector:
      matchLabels:
        app.kubernetes.io/name: {{ .Values.crossplane.provider.name }}
    config:
      {{- if .Values.crossplane.outpost.config.authentik_host }}
      authentik_host: {{ .Values.crossplane.outpost.config.authentik_host }}
      {{- end }}
      authentik_host_insecure: {{ .Values.crossplane.outpost.config.authentik_host_insecure }}
      {{- if .Values.crossplane.outpost.config.authentik_host_browser }}
      authentik_host_browser: {{ .Values.crossplane.outpost.config.authentik_host_browser }}
      {{- end }}
      log_level: {{ .Values.crossplane.outpost.config.log_level }}
      kubernetes_replicas: {{ .Values.crossplane.outpost.config.kubernetes_replicas }}
      kubernetes_namespace: {{ .Values.crossplane.outpost.config.kubernetes_namespace }}
      kubernetes_service_type: {{ .Values.crossplane.outpost.config.kubernetes_service_type }}
      {{- if .Values.crossplane.outpost.config.kubernetes_ingress_annotations }}
      kubernetes_ingress_annotations:
        {{- toYaml .Values.crossplane.outpost.config.kubernetes_ingress_annotations | nindent 8 }}
      {{- end }}
      {{- if .Values.crossplane.outpost.config.kubernetes_ingress_secret_name }}
      kubernetes_ingress_secret_name: {{ .Values.crossplane.outpost.config.kubernetes_ingress_secret_name }}
      {{- end }}
      {{- if .Values.crossplane.outpost.config.kubernetes_disabled_components }}
      kubernetes_disabled_components:
        {{- toYaml .Values.crossplane.outpost.config.kubernetes_disabled_components | nindent 8 }}
      {{- end }}
  providerConfigRef:
    name: {{ .Values.crossplane.providerConfigRef }}
{{- end }}
